<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.running.together"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- shareSDK需要的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.running.together.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5Yo023CHulDHTGuPnlLrDvFy" />

        <!-- 程序入口WellcomeActivity -->
        <activity
            android:name=".activity.WellcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 话题详情 -->
        <activity android:name="com.running.together.activity.MyTopicDetail"></activity>
        <!-- 活动参加页ActionApplyctivity -->
        <activity android:name="com.running.together.activity.ActionApplyctivity"></activity>
        <!-- 粉丝、关注的人的个人主页 -->
        <activity android:name="com.running.together.activity.OtherActionActivity" >
        </activity>

        <!-- 粉丝页FansDetailActivity -->
        <activity
            android:name="com.running.together.activity.FansDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!-- 聊天页 ChattingActivity -->
        <activity android:name="com.running.together.activity.ChattingActivity" >
        </activity>
        <!-- 注册页面 -->
        <activity
            android:name="com.running.together.activity.RegisterActivity"
             >
        </activity>
        <!-- 我的群组详情页MyGroupDetail -->
        <activity
            android:name="com.running.together.activity.MyGroupDetail"
             >
        </activity>
        <!-- 我关注页详情MyGroupDetail -->
        <activity
            android:name="com.running.together.activity.CareDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!-- 活动详情页MyActivityDetail -->
        <activity
            android:name="com.running.together.activity.MyActivitysDetail"
             >
        </activity>
        <!-- 反馈意见界面FeekBackActivity -->
        <activity
            android:name="com.running.together.activity.FeekBackActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!-- 关于界面AboutActivity -->
        <activity
            android:name="com.running.together.activity.AboutActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!-- 我的活动界面 -->
        <activity
            android:name="com.running.together.activity.MyActionActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!-- 我的话题界面MyTopicActivity -->
        <activity
            android:name="com.running.together.activity.MyTopicActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!-- 个人记录页面MyRecordActivity -->
        <activity
            android:name="com.running.together.activity.MyRecordActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!-- 我的群组页面MyGroupActivity -->
        <activity
            android:name="com.running.together.activity.MyGroupActivity"
            >
        </activity>
        <!-- 个人主页界面MyInfoActivity -->
        <activity
            android:name="com.running.together.activity.MyInfoActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!-- 设置界面SettingActivity -->
        <activity android:name="com.running.together.activity.SettingActivity" >
        </activity>
        <!-- 完善信息页面LoginActivity -->
        <activity
            android:name="com.running.together.activity.WriteInfoActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!-- 主页面MainActivity -->
        <activity
            android:name="com.running.together.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!-- 引导页面GuideActivity -->
        <activity
            android:name="com.running.together.activity.GuideActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <!-- 登录页面LoginActivity -->
        <activity android:name="com.running.together.activity.LoginActivity" >
        </activity>
        <!-- shareSDK的Activity -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- QQ -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!--
            	AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="cn.sharesdk.demo.MyAdapter" />

            <!--
            	QZoneWebShareAdapter表示一个继承自cn.sharesdk.tencent.qzone.QZoneWebShareAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获QQ空间网页分享权页面的各种UI控件。 
            	开发者可以通过继承QZoneWebShareAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            	
            <meta-data android:name="QZoneWebShareAdapter" android:value="cn.sharesdk.demo.MyQZoneWebShareAdapter" />
            -->
            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--
            	如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，须要在此处添加一个对ACTION_VIEW
            	事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。如果此过滤器不设置，
            	则分享结束以后不能得到正确的回调
            -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <!-- 微信的分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.running.together.activity.Count"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.running.together.activity.YueActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.running.together.activity.ListInfoActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
    </application>

</manifest>